<% content_for :nav_sidebar do %>
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li><a href="/tasks_section">Tasks</a></li>
			<li class="active"><a href="/personnel_section">Personnel<span class="sr-only">(current)</span></a></li>
			<li><a href="/patients_section">Patients</a></li>
			<li><a href="/wards_section">Wards</a></li>
		</ul>
	</div>
<% end %>

<%= content_for :sections do %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>
	
	<h2 class="sub-header">Personnel <%= link_to 'Create', {controller: 'doctors', action: 'create_doctor'}, class: 'btn btn-default pull-right create-button'  %> </h2>
	
	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>Name</th>
			<th>Email</th>
	        <th>Created at</th>
	        <th>Updated at</th>
	      </tr>
	    </thead>
	    <tbody>

	    <% Doctor.all.each do |doctor| %>
	      <tr>
	        <td><%= doctor.id %></td>
	        <td><%= link_to (doctor.first_name.to_s + ' ' + doctor.last_name.to_s) , { controller: 'doctors', action: 'show_doctor', id: doctor } %> </td>
			<td><%= doctor.email %></td>
	        <td><%= doctor.created_at %></td>
	        <td><%= doctor.updated_at %></td>
	      </tr>
	    <% end %>
     
	    </tbody>
	  </table>
	</div>
  
  
</div>

<% end %>

<%= render template: 'dashboard/show'  %>