<% content_for :nav_sidebar do %>
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="/tasks_section">Tasks <span class="sr-only">(current)</span></a></li>

			<% if current_doctor.is_admin %>
				<li><a href="/personnel_section">Personnel</a></li>
			<% end %>

			<li><a href="/patients_section">Patients</a></li>
			<li><a href="/wards_section">Wards</a></li>
		</ul>
	</div>
<% end %>

<%= content_for :sections do %>
  
  <script>
	$( document ).ready(function() {
		console.log("Loaded");
		setRefresher();	

		var storedId = localStorage.getItem("interval");
		clearInterval(storedId);

		var intervalId = setInterval(setAlerter, 500);
		
		localStorage.setItem("interval", intervalId);	

		function setAlerter() {
			var trs = document.getElementsByClassName('alerting');

			if (trs.length != 0) {

				if (document.title.indexOf("Tasks") > -1) {
					document.title = "Hygea Dashboard";
				} else {
					document.title = trs.length + " Tasks";
				}

			} else {
				document.title = "Hygea Dashboard";
			}

			for (i = 0; i < trs.length; i++) {
				if (trs[i].className == 'alerting danger') {
					trs[i].className = 'alerting';
				} else {
					trs[i].className = 'alerting danger';
				}
			}
			
		}
	});
  </script> 

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Dashboard</h1>
	
	<% if current_doctor.is_admin %>
	<h2 class="sub-header">Tasks <%= link_to 'Create', {controller: 'tasks', action: 'create'}, class: 'btn btn-default pull-right create-button'  %> </h2>
	<% else %>
	<h2 class="sub-header">Tasks </h2>
	<% end %>

	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="text-centered">#</th>
	        <th >Title</th>
	        <th class="text-centered">Status</th>
	        <th class="text-centered">Created at</th>
	        <th class="text-centered">Time to execute</th>
	      </tr>
	    </thead>
	    <tbody>


	    <% if current_doctor.is_admin %>
	    	<% current_doctor.tasks.order('date_to_execute DESC').each do |task| %>
	    <% else %>
	    	<% Task.all.find(personnel_id: current_doctor.id).order('date_to_execute DESC').each do |task| %>
	    <% end %>

	      <% if task.should_execute %>
	      <tr class="alerting danger">
	      <% else %>
	      	<tr>
	      <% end %>

	        <td class="text-centered"><%= task.id %></td>
	        <td ><%= link_to task.title, { controller: 'tasks', action: 'show_task', id: task } %> </td>
	        <td>
	        	<% if task.status == 0 %>
					
					<div class="alert alert-danger" role="alert">
  						Waiting  
					</div>

				<% elsif task.status == 1 %>

					<div class="alert alert-info" role="alert">
  						Pending
					</div>

				<% else %>

					<div class="alert alert-success" role="alert">
	  					Done
					</div>

				<% end %>
	        </td>
	        <td class="text-centered"><%= task.created_at.strftime("%H:%M on %d %B %Y") %></td>
	        <td class="text-centered"><%= task.date_to_execute.strftime("%H:%M on %d %B %Y") %></td>

	      </tr>
	    <% end %>
     
	    </tbody>
	  </table>
	</div>
  </div>

<% end %>

<%= render template: 'dashboard/show'  %>