<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
      
    <title>Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  </head>

  <body>

    <div class="container">

    <%= form_tag("/sign_up", method: "post", class: "form-signin") do %>
    <h2 class="form-signin-heading">Enter your personal data</h2>

    <%= text_field_tag :first_name, nil, class: 'form-control', placeholder: 'Firstname', required: true, autofocus: true, type: 'first_name' %>
    <%= text_field_tag :last_name, nil, class: 'form-control', placeholder: 'Lastname', required: true, autofocus: true, type: 'last_name' %>

    <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email address', required: true, autofocus: true, type: 'email' %>
    <%= text_field_tag :password, nil, class: 'form-control', placeholder: 'Password', required: true, type: 'password' %>
    <%= text_field_tag :password_confirmation, nil, class: 'form-control', placeholder: 'Repeat password', required: true, type: 'password' %>

    <%= submit_tag 'Sign up', class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>

    </div> 

  </body>
</html>
