
<%= content_for :sections do %>

<div class="main">
  <h1 class="page-header">Dashboard</h1>

	<h2 class="sub-header form-task-heading">Profile <%= link_to 'Edit', {controller: 'profile', action: 'edit', id:@task }, class: 'btn btn-default pull-right create-button'  %> </h2>

	<div class="panel panel-default">
	  <div class="panel-body" >
		  <div class="list-group">
		    <div class='list-group-item'>
		      <h4>Email:</h4>
		      <p> <%= current_doctor.email %> </p>
		    </div>
			
		    <div class='list-group-item'>
		      <h4>Firstname:</h4>
		      <p> <%= current_doctor.first_name %> </p>
		    </div>
			
		    <div class='list-group-item'>
		      <h4>Lastname:</h4>
		      <p> <%= current_doctor.last_name %> </p>
		    </div>
			
		    <div class='list-group-item'>
		      <h4>Registered:</h4>
		      <p> <%= current_doctor.created_at %> </p>
		    </div>
		  </div>
	  </div>
	</div>
<% end %>

<%= render template: 'dashboard/show'  %>